
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header{
	background: url(./img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding-bottom: 30px;
	margin-bottom: 100px;
}
.navbar-brand{
	margin-top: -7px;
}
.header-navbar {
	background: transparent;
	border: transparent;
	margin-top: 20px;
}
.header-navbar-right-button a{
	padding: 5px 10px !important;
	text-transform: capitalize;
} 
.container-size{
	border: 2px solid transparent;
}
.header-navbar-right-button{
	border: 2px solid red;
	border-radius: 30px;
	margin-top: 10px;
}
.header-links{
	color: white!important;
}
.header-link-red{
	color: red!important;
}
.header-title{
	width: 60%;
	margin: auto;
	text-align: center;
	margin-top: 100px;;
	color: white;
}
.header-title p{
	margin-top: 20px;
}
.header-search{
	width: 40%;
	margin: 50px auto 80px auto;
}
.search{
	width: 70%;
	padding: 7px;
	border-radius: 20px 0 0 20px;
	border-color: transparent;
}
.submit{
width: 30%;
margin-left: -5px;
padding: 7px;
border-radius: 0 20px 20px 0;
color: white;
background-color: red;
border-color: transparent;
}
.header-chat{
	width: 30%;
	margin: auto;
}
.header-chat div{
	background: white;
	border-radius: 20px;
	margin: 20px auto;
	position: relative;
	width: 80%;
}
.header-chat p{
	width: 80%;
}
.chat-left{
	text-align: left;
	position: absolute;
	left: -60px;
	min-height: 80px;
	padding-top: 10px;
	padding-left: 10%;
}
.chat-left p{
	padding: 5px;
}
.chat-right{
	text-align: left;
	position: absolute;
	right: -60px;
	min-height: 80px;
	padding-top: 10px;
	padding-left: 10%;
}
.chat-left img{
	position: absolute;
	left: -40px;
	top: 5px;
	width: 70px;
}
.chat-right img{
	position: absolute;
	right: -40px;
	top: 5px;
	width: 70px ;
}
.parent-container{
	margin-bottom: 100px;
}
.graphik img{
	width: 100%;
}
.box-info img{
	margin:15px auto 30px auto;
}
.horizontal-stripe{
	border: 1px solid whitesmoke;
	margin: 80px auto;
}
.subtitle{
	width: 40%;
	margin: auto;
	text-align: center;
}
.subtitle p{
	font-size: 13px;
	color: darkgray;
}
.celss-content p{
width: 80%;
}
.box-info{
	width: 80%;
}
.box-info a{
	color: red;
}
.sources{
	clear: both;
	display: table;
	margin-top: 50px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
.sources-left{
	float: left;
	border-right: 1px solid whitesmoke;
}
.sources-right{
	float: right;
}

.btn{
	color: white;
	background-color: red;
	border-radius: 20px;
	margin-top: 30px;
	border:transparent ;
	padding:10px 40px 10px 40px;
}
.meaning{
	position: relative;
	padding-left: 50px;
}
.meaning img{
	width: 30px;
	position: absolute;
	left: 10px;
	top: 10px;
}
.meaning h4{
	font-size: 13px; ;
}
.meaning p{
	border-bottom: 1px solid whitesmoke;
	padding-bottom: 10px;;
	font-size: 11px;
}
.social{
	width: 50%;
}
.long-defise{
	width: 300px;
	background-color: whitesmoke;
	height: 1px;
	margin: 15px 0 15px 0;
}
.presentation{
	margin: 30px 0 30px 0;
}
.presentation img{
	width: 100%;
}
.signature{
	padding-left: 50px;
	margin-top: 40px;
}
.leiba{
	position: relative;
}
.circle{
	width: 40px;
	height: 40px;
	background-color: darkgrey;
	border-radius: 50%;
	padding-left: 30px;
	position: absolute;
	left: 0;
	top: 0;
}
.other-fonts{
font-family:Georgia, 'Times New Roman', Times, serif;
color: black !important;
}
.site-footer{
	background-color: whitesmoke;
	padding: 15px;
	margin-top: 100px;
	font-size: 12px;
}
.logo-text p{
	text-align: left;
	padding-right: 50px;
}
.footer-logo{
	margin-bottom: 20px;
}
.footer-logo img{
	width: 60px;
}
.copyright{
	position: relative;
}
.copyright-text{
	position: absolute; 
	bottom: -85px;
	right: 30%;
}
.copyright-text img{
	width: 15px;
	padding-right: 5px;
}
.icons ul li{
 list-style-type: none;
 display: inline-block;
 padding-left: 15px;
}
.icons{
	text-align: right;
	padding-top: 30px;
}
.icons img{
	width: 15px;
}
.parent-container p{
	color: darkgray;
}

@media(max-width:1024px){
	.search{
		width: 70%;
	}
	.submit{
		width: 30%;
	}
}

@media(max-width:768px){
	.header-search{
		width: 80%;
		}	
		.header-chat{
			width: 70%;
		}
		.chat-left{
			position: absolute;
			left: 0;
		}
		.chat-right{
			position: absolute;
			right: 0;
		}
		.subtitle{
			width: 100%;
		}
		.meaning{
			text-align: center;
		}
		.meaning img{
		position: unset;
		}
		.icons{
			text-align: center;
		}
		.copyright-text{
			position: unset;
			text-align: center;
			padding-top: 20px;
		}
		.site-footer{
			margin: 0;
		}
		.logo-text{
			text-align: center;
		}
		.logo-text p{
			text-align: center;
		}
		}


@media(max-width:425px){
.header-button a{
	width: 30%;
}
.header-title p{
	text-align: left;
}
.header-search{
	width: 80%;
}
.header-chat{
	width: 80%;
}
.chat-left{
	position: absolute;
	left: 0;
}
.chat-right{
	position: absolute;
	right: 0;
}
.search{
	width: 70%;
}
.submit{
	width: 30%;
}
.icons{
	text-align: center;
}
.horizontal-stripe{
	margin: 40px auto;
}
.site-footer{
	margin: 0;
}
.logo-text p{
	text-align: left;
}
.copyright-text{
	position: unset;
	text-align: center;
	padding-top: 20px;
}
}


@media(max-width:375px){
	.header-title{
		width: 80%;
	}
	.box-info{
		width: 100%;
	}
	.search{
		width: 60%;
	}
	.submit{
		width: 40%;
	}
	.meaning{
		padding-right: 50px;
	}
	.social{
		padding: 0;
	}
	.horizontal-stripe{
		margin: 20px auto;
	}
	.site-footer{
		margin: 0;
	}
	.logo-text p{
		text-align: left;
	}
	.copyright-text{
		position: unset;
		text-align: center;
		padding-top: 20px;
	}
}
@media(max-width:320px){
	.meaning{
	text-align: left;
	padding-right: 30px;
	}
	.social{
		padding: 0;
	}
	.site-footer{
		margin: 0;
	}
	.logo-text p{
		text-align: left;
	}
	.copyright-text{
		position: unset;
		text-align: center;
		padding-top: 20px;
	}
	.box-info{
		width: 100%;
	}
	.social{
		width: 100%;
	}
}
	
